*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
}

body {
  background: #fff;
  color: #000;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h2 {
  margin-top: 2rem;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
  width: 1rem;
}

.page {
  margin: 1rem auto 2rem;
  max-width: 48rem;
  width: 96vw;
}

.rh-text {
  color: #d00;
}

#test-content {
  background: #eee;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.5rem;
  & > * {
    max-height: 2rem !important;
    max-width: 20vw;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
